* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 90%;
    height: 100vh;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    margin: 0 0 5px;
}

br {
    display: none;
}

textarea {
    width: 100%;
    flex: 1 1 0;
    min-height: 120px;
    margin: 0;
    padding: 10px;
    resize: vertical;
    font-size: 24px;
    border: 5px solid black;
    border-radius: 17px;
}

input {
    width: 100%;
    padding: 10px;
    border: 5px solid black;
    border-radius: 17px;
}
textarea::placeholder,
input::placeholder {
    color: black;
    opacity: 1;
}


button {
    align-self: flex-start;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    border: 5px solid #FFD700;
    border-radius: 0px;
}
.button-container {
  display: flex;          /* Activates Flexbox layout */
  gap: 60%;              /* Sets exact space between buttons */
  justify-content: center;/* Options: center, flex-start, flex-end, space-between */
}
